<div class="container-fluid">
  <h1>Home</h1>

  <p>Este é meu site introdução, feito por Felipe Santos da Silva na matéria Tópicos Especiais em Sistemas para Internet
    II (ITE004), ministrada pelo professor Ricardo Pupo.</p>

  <p>Site desenvolvido em Angular através do Stackblitz. Foi feito uma navbar para a navegação entre os componentes,
    foram criados os componentes "Home", "Sobre" e "Numeros"</p>

  <p>Na "Home" está a descrição do site. Em "Sobre" tem minhas informações e meu perfil no Github. Já o componente
    "Numeros" é onde se encontra uma lista com números aleatórios gerado pelo "Math.random"</p>
</div>